/* .filter-chart-btn {
    background: #fff;
    border: 1px solid #e7e7e7;
    color: #4a4a4a;
    cursor: pointer;
    border-radius: 3px;
    font-size: .8rem;
    font-weight: 400;
    padding: 6px 10px;
} */