$color : #2C3E50;


$primary-color: color("#2C3E50", "lighten-2") !default;
$secondary-color: color("#95a5a6", "lighten-2") !default;
$primary-color-light: #ecf0f1 !default;
$primary-color-dark: #2C3E50  !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "green") !default;

$link-color: color("light-blue", "darken-1") !default;


/*
  HAMBURGER MENU
*/

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  .bar1 ,  .bar3 {
    background-color: red;
  }
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* *****************************************/

.flex {
  display: flex;
  &.aling--center {
     align-items: center;
  }
  &.justify--center{
    justify-content: center;
  }
}
nav {
    background: #2C3E50; 
}

.page-footer{
    background:$primary-color-light;
    color:$primary-color-dark;
}

.main{
    min-height: 70vh;
    padding: 10px 5px 50px;
}


.darken-4{
        background: #2C3E50;
    }

    h6{
      font-size: 1rem;
    }
tbody {
  tr {
    transition: all 500ms;
    &:hover {
      background: cornsilk;
    }
    td {
  padding: 5px;
    }
  }
}

/*
 Detail page
*/

 .currency-info{
   .info-item{
     margin-bottom: 8px;
   }
 }


/* .filter-chart-btn {
    background: #fff;
    border: 1px solid #e7e7e7;
    color: #4a4a4a;
    cursor: pointer;
    border-radius: 3px;
    font-size: .8rem;
    font-weight: 400;
    padding: 6px 10px;
}
 */
