.login-register-section{
    height: 70vh;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

   form{
      width: 400px;
      padding: 25px;
      border:1px solid #ccc;
      border-radius: 7px;

      .row {
          margin-bottom: 0;
      }
   }
}